.box {
  color: blue;
}

.box li {
  background-color: red;
}

.box a {
  color: black;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 32px;
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1.5px;
}

h4 {
  font-size: 20px;
  letter-spacing: 1px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

body {
  background-color: black;
  margin: 0;
  color: white;
}

button {
  background-color: #25c2c7;
  color: white;
  padding: 10px;
  border: none;
  font-size: 18px;
  text-align: center;
  width: 160px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 25px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -14px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 36px;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
  background-color: transparent;
  border: 2px solid #25c2c7;
}

.button:after {
  -webkit-transform: none;
          transform: none;
}

.nav {
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
  border: black 2px solid;
  -webkit-box-shadow: black 3px 3px;
          box-shadow: black 3px 3px;
  margin: 5px;
  padding: 10px;
  position: relative;
  top: 30px;
}

.nav a:hover {
  background-color: black;
}

.iconify {
  width: 40px;
  height: 40px;
}

.iconify:hover {
  color: black;
}

.social {
  background-color: #25c2c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 100px;
}

.social a {
  color: white;
}

.portfolio-section {
  padding-left: 200px;
  padding-top: 40px;
}

.headshot {
  padding-top: 40px;
  padding-left: 100px;
}

.headshot-grayscale {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.headshot-grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

#headshot {
  width: 400px;
  height: 400px;
}

#logo {
  max-width: 90px;
  max-height: 100px;
}

#logo:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#logotext {
  text-decoration: none;
}

#logotext:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#logotext:visited {
  color: white;
  text-decoration: none;
}

#introtext {
  margin-right: 50px;
}

.navgrid-flexend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .social {
    display: none;
  }
  #logotext {
    display: none;
  }
  .contact {
    padding: 25px;
  }
  #headshot {
    height: 150px;
    width: 150px;
  }
  .navgrid-flexend {
    display: none;
  }
  .hamburger {
    position: relative;
    top: 20px;
  }
  .nav {
    color: white;
    font-size: 12px;
  }
  .nav a {
    color: white;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid black;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: list-item;
  }
  .nav nav {
    position: relative;
    bottom: 40px;
  }
  .nav a:hover {
    background-color: black;
  }
  .grid-item {
    padding-left: 20px;
  }
  .grid-1c {
    position: relative;
    right: 30px;
  }
  .grid-portfolio {
    position: relative;
    right: 30px;
  }
  .grid-social {
    position: relative;
    right: 30px;
  }
  .contact-grid {
    padding: 10px;
  }
  .contact-grid p {
    padding: 10px;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  background-color: black;
}

.navgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  background-color: #25c2c7;
  font-size: 20px;
}

.navgrid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grid-portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  background-color: black;
}

.grid-p1 {
  text-align: left;
  margin-left: 50px;
}

.grid-1c {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  background-color: black;
  margin-top: 30px;
}

.grid-social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  background-color: black;
  margin-bottom: 50px;
  margin-top: 30px;
}

.grid-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  background-color: #25c2c7;
}

.grid-footer a {
  color: white;
  text-decoration: none;
}

.grid-footer a:hover {
  color: black;
}

.grid-4c {
  text-align: left;
  margin-left: 50px;
}

.copyright {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  background-color: #218083;
}

.contact-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: grey;
  padding-bottom: 30px;
  margin: 0;
  color: white;
}

.contact {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact form, .contact label, .contact input, .contact textarea, .contact button {
  width: 250px;
  padding: 10px;
  margin: 5px;
}

.contact input {
  border: none;
  border-bottom: 2px white solid;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.contact button {
  margin-top: 20px;
}

.contact label {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
}

.contact button:hover {
  background-color: transparent;
  border: 2px solid #25c2c7;
}

.contact textarea {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=style.css.map */